/*  google fonts   */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Dongle, sans-serif;
    background-color: #ebd0d1;
    color: #865b5b;
    font-weight: 300;
    font-size: 1.6em;
}

/*   logo   */

.logo img {
    max-height: 150px;
    float: left;
    margin-top: -60px;
    margin-left: 10%;
}

/*   nav menu   */

#nav-menu {
    font-size: 110%;
    margin-top: 20px;
}

#nav-menu #logo {
    line-height: 75px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    font-weight: 700;
    margin-right: 30px;
    padding-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 3px solid #f19482;
}

.active {
    border-bottom: 3px solid #f19482;
}

.nav-box {
    display: flex;
    flex-direction: row-reverse;
}
.nav-box :nth-child(1) {order: 4;}
.nav-box :nth-child(2) {order: 3;}
.nav-box :nth-child(3) {order: 2;}
.nav-box :nth-child(4) {order: 1;}

/*   headings   */

h1, h2 {
    font-family: Dongle, sans-serif;
    font-weight: 700;
    color: #673f3f;
}

/*   hero image   */

.hero-img {
    background-image: url('../images/background-img-project1.png');
    height: 100vh;
    width: 100wv;
    position: cover;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -1

}