@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap');

body {
    font-family: Dongle, sans-serif;
    background-color: #ebd0d1;
    font-weight: 300;
    font-size: 1.6em;
}


/*   logo   */

.logo img {
    max-height: 150px;
    margin-left: 10%;
    margin-top: -50px;
}

/*   nav bar   */
